<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Salon Booking Page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/timepicker.css' %}">
    <script src="{% static 'js/timepicker.js' %}"></script>
    <script>
       $(document).ready(function(){
         $( "#dates" ).datepicker()
       });
     </script>
</head>
<body class="back">
<!--Header Section Starts-->
    <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top shadow">
                        <a class="navbar-brand text-success text-light" href="{% url 'userhome' %}">Spa<span class="text-success">Salon</span></a>
                        <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link text-success" href="{% url 'userhome' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" href="{% url 'logouts' %}">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
    </header>
<!--Header Section Ends-->
<!--Registration Part Starts-->
 <section class="sreg" id="sreg">
        <div class="container-fluid">
            <div class="htop text-white">
                <center>
                     <h4>Appointment <span>Form</span></h4>
                </center>
            </div>
            <div class="row">
                <div class="col-12">
                        <form method="POST" name="app" action="{% url 'appsubmit' sid %}">
                             {%csrf_token%}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
                                    <span id="lfname"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required>
                                    <span id="llname"></span>
                                </div>
                            </div>
                             <div class="form-group">
                                 <label for="email">Email</label>
                                 <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                 <span id="lemail"></span>
                             </div>
                            <div class="form-group">
                                 <label for="mobile">Mobile</label>
                                 <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile" required>
                                 <span id="lmob"></span>
                             </div>

                            <div class="form-group">
                                 <label for="service">Service</label><br>
                                 <select name="service" id="service">
                                     <option value="">Select Your Service</option>
                                     {%if oneserve %}
                                     <option value="{{oneserve}}">{{ oneserve }}</option>
                                     {% else %}
                                     {% for i in opserve %}
                                     <option value="{{i}}">{{ i }}</option>
                                     {% endfor %}
                                     {% endif %}
                                 </select>
                                 <span id="lmob"></span>
                             </div>

                             <div class="form-group">
                                <label>Date</label>
                                <input type="text" id="dates" name="dates" class="form-control"  placeholder="Enter Date">
                             </div>
                            <div class="timepicker_div">
                                <label>Time</label>
                                <input type="text"  class="form-control timepicker" name="times" placeholder=" Time">
                            </div><br><br>
                             <center>
                                 <button type="submit" class="btn btn-success">Submit</button>
                             </center><br>
                        </form>
                </div>
            </div>
        </div>
 </section>

<!--Registration Part Ends-->
<!--Footer Section Starts-->
   <footer>
       <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                   <center>
                       <p>Created By <a href="{% url 'userhome' %}"><span>Abin Benny</span></a> | <span class="far fa-copyright"></span> 2021 All Rights Reserved.</p>
                   </center>
               </div>
           </div>
       </div>
   </footer>
<!--Footer Section Ends-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $('.timepicker').mdtimepicker();
  });
</script>

</body>
</html>