<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<section class="sflog" id="sflog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="std">
                <form method="POST" action="{% url 'ufpasswordreset' %}">
                    {%csrf_token%}
                    <center>
                        <h3>Password <span>Reset</span>Form</h3>
                    </center>

                    <label style="color:white;padding-left:13%;">Enter Your Registered Email</label>
                     <center>
                         <input type="email" id="uname" name="username" placeholder="Email"><br>
                         <span id="lemail"></span>
                     </center>
                     <label style="color:white;padding-left:13%;">Enter New Password</label>
                     <center>
                         <input type="password" id="pass" name="pass" placeholder="New Password"><br>
                         <span id="lpass"></span>
                     </center>
                     <label style="color:white;padding-left:13%;">Confirm New Password</label>
                     <center>
                         <input type="password" id="cpass" name="cpass" placeholder="Confirm New Password"><br>
                          <span id="lcpass"></span>
                     </center>
                     <button type="submit" style="margin-left:12%;" name="submit">Submit</button><br><br><br><br>
                </form>
                {% for msg in messages %}
                    <center>
                        <h4 style="color:red;">{{msg}}</h4>
                    </center>
                {% endfor %}
            </div>
        </div>
    </div>
 </section>
</body>
</html>