<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!--Header Section Starts-->
    <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top shadow">
                        <a class="navbar-brand text-success text-light" href="{% url 'index' %}">Spa<span class="text-success">Salon</span></a>
                        <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link text-success" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" href="#services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" href="#contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" href="{% url 'userlogin' %}">Appointment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" href="{% url 'salon' %}">Salon</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
    </header>
<!--Header Section Ends-->

 <section class="sflog" id="sflog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="std">
                <form method="POST" action="{% url 'sfpassword' %}">
                    {%csrf_token%}
                    <center>
                        <h3>Password <span>Reset</span></h3>
                        <span style="color:red;font-size:15px;">{{msg}}</span><br><br>
                    </center>

                    <label style="color:white;padding-left:13%;">Enter Your Username/Email</label>
                     <center>
                         <input type="email" id="uname" name="username" placeholder="Username" required><br>
                     </center>
                     <button type="submit" style="margin-left:12%;" name="login">Submit</button><br><br><br><br>
                </form>
            </div>
        </div>
    </div>
 </section>

<!--Footer Section Starts-->
   <footer>
       <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                   <center>
                       <p>Created By <a href="{% url 'index' %}"><span>Abin Benny</span></a> | <span class="far fa-copyright"></span> 2021 All Rights Reserved.</p>
                   </center>
               </div>
           </div>
       </div>
   </footer>
<!--Footer Section Ends-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>