<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Salon Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet"/>
</head>
<body>
<section class="sflog" id="sflog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="std">
                <form method="POST" name="forgot" action="{% url 'sfpasswordreset' %}">
                    {%csrf_token%}
                    <center>
                        <h3>Password <span>Reset</span> Form</h3><br>
                    </center>

                    <label style="color:white;padding-left:13%;">Enter Your Registered Email</label>
                     <center>
                         <input type="email" id="email" name="email" placeholder="Email" pattern="[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})" title="Invalid Email Format" required><br><br>
                         <span id="lemail"></span>
                     </center>
                     <label style="color:white;padding-left:13%;">Enter New Password</label>
                     <center>
                         <input type="password" id="pass" name="pass" placeholder="New Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" title="Must contain atleast one upper&lowercase letter,digit&special characters and atleast eight characters" required><br><br>
                         <span id="lpass"></span>
                     </center>
                     <label style="color:white;padding-left:13%;">Confirm New Password</label>
                     <center>
                         <input type="password" id="cpass" name="cpass" placeholder="Confirm New Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" title="Must contain atleast one upper&lowercase letter,digit&special characters and atleast eight characters" required><br><br>
                          <span id="lcpass"></span>
                     </center>
                    <center>
                         <button type="submit" name="submit">Submit</button><br><br><br><br>
                    </center>
                {% for msg in messages %}
                    <center>
                        <h4 style="color:red;">{{msg}}</h4>
                    </center>
                {% endfor %}
                </form>

            </div>
        </div>
    </div>
 </section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>